################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.lock
/CursoSoftBlue/ADO_Base/App_Data/ADO_NETDataBase_log.ldf
/CursoSoftBlue/ADO_Base/App_Data/ADO_NETDataBase.mdf
