<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Treinojunior.Properties.Settings.LivroDataBaseConnectionString"
            connectionString="Data Source=DESKTOP-6OMQR12\SQLEXPRESS;Initial Catalog=LivroDataBase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <appSettings>
    <add key="PathArquivos" value="C:\ArquivosMatematicos\"/>
  </appSettings>
</configuration>
